<style>
  table {
    border: 1px solid black;
    width: 350px;
  }
</style>

<table>
  <caption>Live Heart Rate</caption>
  <tr>
    <td>current</td><td style="color: red;"><span><b><%= @current_heart_rate %></b></span></td>
  </tr>
  <tr>
    <td>high</td><td style="color: red;"><span><b><%= @highest_heart_rate %></b></span></td>
  </tr>
  <tr>
    <td>low</td><td style="color: red;"><span><b><%= @lowest_heart_rate %></b></span></td>
  </tr>
  <tr>
    <td>average</td><td style="color: red;"><span><b><%= @avg_heart_rate %></b></span></td>
  </tr>
</table>


