<%= javascript_tag do %>
  userId = <%= @user.id %>
<% end %>

<div id="buttons">
	<%= button_tag "retrieve_all_user_results", id: "retrieve_all" %><!--
	--><%= button_tag "retrieve_ind_user_results", id: "retrieve_for_user" %>
</div>

