.signin-box {
  position: fixed;
  right: 20px;
  top: 120px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #666;
  text-shadow: 1px 1px 0 #0D1C2A;
  padding: 10px 15px;
  background: #104E8B;
  color: #0BA250;
}

.sign-in-button {
  display: block;
  border: none;
  font-weight: bold;
  background: #499AEA;
  border-radius: 4px;
  color: #fff;
  text-shadow: 1px 1px 0px #0D1C2A;
  box-shadow: 1px 1px 1px #333;
  width: 100%;
  margin: 4px 0;
  padding: 3px 0;
}

.rememberme-container {
  display: inline-block;
}

.new_user, .signin-box > a {
  color: #CDC8B1;
  text-shadow: 1px 1px 0px #0D1C2A;
  font-weight: bold;
  margin: 6px 0;
  padding-bottom: 0;
}

.signin-box > a {
  font-size: 12px;
  padding-right: 4px;
  border-right: 2px solid #0BA250;
  color: #0BA250;
  text-shadow: 1px 1px 0 #0D1C2A;
}

.signin-box > a:last-of-type {
  border-right: none;
  padding-right: none;
}

#user_email, #user_password{
  display: block;
  margin: 6px 0;
  width: 95%;
  box-shadow: 1px 1px 4px #666;
  padding: 2px 0 2px 4px;
  border-radius: 3px;
  border: none;
}
