svg {
  margin-left: 10%;
  padding: 20px 20px 40px 140px;
  /*padding: 20px 30px 40px 140px;*/
}

.my-donut {
  padding: 0;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line {
  stroke-width: 1;
  fill: #009999;
  stroke: #009999;
  shape-rendering: crispEdges;
}

.y-axis text, .x-axis text {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.line {
  stroke-width: 2;
  stroke: #FF7400;
  fill: none;
}

#user-heartrate-chart {
  height: 900px;
  width: 900px;
  float: left;
}

#user-response-chart {
  height: 900px;
  width: 900px;
  float: left;
}

.x-axis > .tick > text {
  font-size: 12px;
}

.y-axis > .tick > text {
  font-size: 14px;
}

