svg {
  margin-left: 10%;
  padding: 20px 20px 40px 140px;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line {
  stroke-width: 1;
  fill: #009999;
  stroke: #009999;
  shape-rendering: crispEdges;
}

.y-axis text, .x-axis text {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.line {
  stroke-width: 2;
  stroke: #FF7400;
  fill: none;
}
