// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  font-family: 'Allerta', sans-serif;
}

.container {
  width: 1300px;
  margin: 80px auto;
}

#index_buttons {
  width: 500px;
  margin: 0 auto;
}

#index_buttons button {
  width: 160px;
}

#today {
  border-right: none;
  border-left: 5px solid black;
}

#yesterday {
  border-left: 5px solid black;
}

#buttons {
    width: 660px;
    margin: 0 auto;
  }
button {
  padding: 30px;
  background: none;
  border: 5px solid black;
  border-top: none;
  font-size: 20px;
}
button:last-child {
  border-left: none;
}
button:hover {
  background: black;
  color: white;
}
button:focus {
  outline:none;
}

/*.quotes {display: none;}​*/

.row {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

body{
  top: 80px;
  /*background-image:url('/background.png');*/
}

input[type=checkbox] {
  margin-right: 8px;
}

input[type=submit]:hover {
  cursor: pointer;
}
