.logo {
  line-height: 80px;
  margin-left: 30px;
}

.navbar{
  position: fixed;
  top: 0;
  height: 80px;
  line-height: 80px;
  background: black;
}

.navbar-link {
  padding-left: 8px;
  padding-right: 12px;
  border-right: 2px solid white;
  color: white;
}

.navbar-link:last-of-type {
  border-right: none;
}

.navbar-text  {
  float: right;
  margin-top: 0;
  margin-right: 20px;
  color: white;
}
