.signin-box {
  display: none;
  position: fixed;
  right: 0px;
  top: 80px;
  padding: 10px 15px;
  background: black;
  color: white;
}

.sign-in-button {
  display: block;
  border: none;
  font-weight: bold;
  background: white;
  font-size: 18px;
  color: black;
  width: 100%;
  margin: 10px 0;
  padding: 3px 0;
}

.rememberme-container {
  display: inline-block;
}

.new_user, .signin-box > a {
  color: #CDC8B1;
  text-shadow: 1px 1px 0px #0D1C2A;
  font-weight: bold;
  margin: 6px 0;
  padding-bottom: 0;
}

.signin-box > a {
  font-size: 12px;
  padding-right: 4px;
  border-right: 2px solid #0BA250;
  color: #0BA250;
  text-shadow: 1px 1px 0 #0D1C2A;
}

.signin-box > a:last-of-type {
  border-right: none;
  padding-right: none;
}

#user_email, #user_password{
  display: block;
  box-shadow: 1px 1px 4px #666;
  padding: 2px 0 2px 4px;
  font-size: 18px;
  border: none;
}
