// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#personal_data {
	margin-top: 100px;
  width: 300px;
  float: right;
  clear: both;
}

.my_responses li {
	list-style: none;
	height: 40px;
	line-height: 40px;
}

.my_responses li:nth-child(even) {
	background-color: lightgray;
}
