// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#personal_data {
  width: 240px;
  float: right;
  clear: both;
}

.my_responses li {
	list-style: none;
	padding-left: 10px;
  height: 40px;
	line-height: 40px;
  font-size: 12px;
}

.my_responses li:nth-child(odd) {
	background-color: lightgray;
}

#my-heart-data {
  float: right;
  padding: 30px 0;
}

#user-hr-table {
  width: 240px;
}

#user-hr-table-caption {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 5px;
}

td {
  text-align: center;
  padding: 2px 0;
}

tr {
  background-color: lightgray;
  border: lightgray;
}

.login-email-notification > a:hover {
  color: orange;
}
