// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#barchart {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  outline: 2px blue dotted;
}
